<select class="value span5"><option value="true" <% if (value == "true") { %>selected="selected"<% } %>>true</option><option value="false" <% if (value == "false") { %>selected="selected"<% } %>>false</option></select>
