<div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Edit upload</h3>
</div>
<div class="modal-body">
    <form>
        <input id="upload-title" value="<%= upload.title %>"></input>
    </form>
</div>
<div class="modal-footer">
    <input type="button" class="btn" data-dismiss="modal" value="Cancel" />
    <input id="upload-save" type="button" class="btn btn-success" value="Save" />
</div>
