<div class="row-fluid">
    <div class="span12">
        <%= pager %>

        <ul>
        <% _.each(notifications, function(note) { %>
            <li><%= note.message %></li>
        <% }); %> 
        </ul>

        <%= pager %>
    </div>
</div>

