<h1><%= user.first_name %> <%= user.last_name %></h1>
<a href="mailto:<%= user.email %>"><%= user.email %></a>

<ul>
    <% _.each(datasets.datasets, function(dataset) { %>
    <li><a href="#dataset/<%= dataset.slug %>"><%= dataset.name %></a></li>
    <% }); %>
</ul>
