{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block extra_header %}
<link rel="stylesheet" href="{{ MEDIA_URL}}css/fileuploader.css" type="text/css" charset="utf-8"/>
{% endblock %}

{% block content %}
<div id="upload">       
    <noscript>          
        <p>Please enable JavaScript to use file uploader.</p>
    </noscript>         
</div>
<div id="dataset">
    <form id="dataset_form">
        <input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
        <label for="dataset_name">Name:</label>
        <input id="dataset_name" type="text" name="name" maxlength="256">
        <input type="hidden" name="data_upload" id="dataset_data_upload">
        <input type="submit" id="dataset_submit" value="Submit" />
    </form>
</div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/fileuploader.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
<script type="text/javascript" src="redd.js"></script>
<script type="text/javascript">
$(function() {
    var uploader = new qq.FileUploader({
        action: "{% url ajax_upload %}",
        element: $("#upload")[0],
        multiple: false,
        onComplete: function(id, fileName, responseJSON) {
            if(responseJSON.success) {
                $("#dataset_data_upload").val(responseJSON["id"]);
                $("#dataset").show();
            } else {
                alert("Upload failed!");
            }
        },
        params: {
            "csrf_token": "{{ csrf_token }}",
            "csrf_name": "csrfmiddlewaretoken",
            "csrf_xname": "X-CSRFToken",
        }
    });

    $("#dataset_form").submit(function() {
        REDD.create_dataset(
            $("#dataset_form #dataset_name").val(),
            $("#dataset_form #dataset_data_upload").val(),
            function() {
                alert("Success!");
            });

        return false;
    }); 
})
</script>
{% endblock %}

