django==1.3
fabric==1.2.2
psycopg2==2.4.1
django-celery==2.3.3
kombu-sqlalchemy==1.1.0
python-dateutil==1.5.0
lxml==2.3.1
httplib2==0.7.1
-e git://github.com/GoodCloud/django-ajax-uploader.git#egg=ajaxuploader
-e git://github.com/onyxfish/csvkit.git#egg=csvkit
-e git://github.com/pandaproject/sunburnt.git#egg=sunburnt
-e git://github.com/toastdriven/django-tastypie.git#egg=tastypie
django_compressor==1.1
BeautifulSoup==3.2.0
sphinx==1.0.7
