{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}
{% url 'admin:panda_userproxy_add_many' as form_url %}

<form action="{{ form_url }}" method="post" id="add_many_form">{% block form_top %}{% csrf_token %}<p>{% trans "Enter an email address. You may also specify the user's first and last name or leave that for them to do." %}</p>
    <p>{% if email_enabled %}{% trans "The new user will be emailed a link to activate their account." %}{% else %}{% trans "<strong>Note:</strong> Email is not <a href=\"/admin/settings/\">enabled</a> for your PANDA. <strong>Your users will not receive activation emails.</strong> (You will need to activate them manually.)" %}{% endif %}</p>{% endblock %}
<div>

{% if error %}
    <p class="errornote">
    {{ error }}
    </p>
{% endif %}

<textarea name="user-data" rows="20", cols="100" value="">{% if user_data %}{% autoescape off %}{{ user_data }}{% endautoescape %}{% else %}email,password,first_name,last_name
example@example.com,mypass123,John,Doe{% endif %}</textarea><br />
<input type="submit" value="Add new users" />

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}
<script type="text/javascript">document.getElementById("id_username").focus();</script>
{% endblock %}

{% block after_related_objects %}{% endblock %}

</div>
</form></div>
{% endblock %}

