<div class="row-fluid">
    <div id="dashboard" class="span12">
        <h1>PANDA Dashboard</h1>
        <h2>Datasets <small>{{ dataset_count }} total</small></h2>
        <div class="row-fluid">
            <div class="span6">
                <h3>Missing descriptions</h3>
                <ul>
                {% for name, slug in datasets_without_descriptions %}
                    <li><a href="#dataset/{{ slug }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="span6">
                <h3>Missing categories</h3>
                <ul>
                    {% for name, slug in datasets_without_categories %}
                    <li><a href="#dataset/{{ slug }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <h2>Users <small>{{ user_count }} total{% if inactive_user_count %}, {{ inactive_user_count }} not activated{% endif %}</small></h2>
        <div class="row-fluid">
            <div class="span12" id="users-chart-wrapper">
                <h3>Users active over last 30 days</h3>
                <div id="users-by-day" class="chart"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <h3>Most active users in the last 30 days</h3>
                <ul>
                    {% for user in most_active_users %}
                    <li><a href="mailto:{{ user.email }}">{{ user.email }}</a> (active on {{ user.activity_logs__count }} day{{ user.activity_logs__count|pluralize }})</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span6">
                <h3>Least active users in the last 30 days</h3>
                <ul>
                    {% for user in least_active_users %}
                    <li><a href="mailto:{{ user.email }}">{{ user.email }}</a> (active on {{ user.activity_logs__count }} day{{ user.activity_logs__count|pluralize }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h2>Searches <small>{{ total_searches }} total</small></h2>
        <div class="row-fluid">
            <div class="span6" id="search-chart-wrapper">
                <h3>Search count by day</h3>
                <div id="searches-by-day" class="chart"></div>
            </div>
            <div class="span6">
                <h3>Most searched datasets in the last 30 days</h3>
                <ul>
                    {% for dataset in most_searched_datasets %}
                    <li><a href="#dataset/{{ dataset.slug }}">{{ dataset.name }}</a> ({{ dataset.searches__count }} search{{ dataset.searches__count|pluralize:"es" }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div> 

        <h2>Disk usage</h2>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Disk</th>
                            <th>Capacity</th>
                            <th>Remaining</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Root</td>
                            <td>{{ root_disk_total|filesizeformat }} ({{ root_disk_percent_used|floatformat:1 }}% used)</td>
                            <td>{{ root_disk_free|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <td>Uploads (and exports)</td>
                            {% if upload_disk_total %}
                            <td>{{ upload_disk_total|filesizeformat }} ({{ upload_disk_percent_used|floatformat:1 }}% used)</td>
                            <td>{{ upload_disk_free|filesizeformat }}</td>
                            {% else %}
                            <td colspan="2">Uploads are currently stored on the root disk.</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Search indices</td>
                            {% if indices_disk_total %}
                            <td>{{ indices_disk_total|filesizeformat }} ({{ indices_disk_percent_used|floatformat:1 }}% used)</td>
                            <td>{{ indices_disk_free|filesizeformat }}</td>
                            {% else %}
                            <td colspan="2">Uploads are currently stored on the root disk.</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    window.DASHBOARD = {};
    window.DASHBOARD.search_data = [
        {% for day in searches_by_day %}
        [{{ forloop.counter }}, {{ day.when__count }}]
        {% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    window.DASHBOARD.search_ticks = [
    {% for day in searches_by_day %}
        {% if forloop.counter|divisibleby:'5' %}
        [{{ forloop.counter }}, "{{ day.day|date:'N jS' }}"]
        {% endif %}
        {% if not forloop.last and forloop.counter|divisibleby:'5' and forloop.revcounter > 5 %},{% endif %}
    {% endfor %}
    ];

    window.DASHBOARD.user_data = [
        {% for day in active_users_by_day %}
        [{{ forloop.counter }}, {{ day.id__count }}]
        {% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    window.DASHBOARD.user_ticks = [
    {% for day in active_users_by_day %}
        {% if forloop.counter|divisibleby:'3' %}
        [{{ forloop.counter }}, "{{ day.when|date:'N jS' }}"]
        {% endif %}
        {% if not forloop.last and forloop.counter|divisibleby:'3' and forloop.revcounter > 3 %},{% endif %}
    {% endfor %}
    ];
});
</script>

