<div class="row-fluid">
    <div id="dashboard" class="span12">
        <h2>Datasets: {{ dataset_count }}</h2>
        <div class="row-fluid">
            <div class="span6">
                <h3>Without descriptions: {{ datasets_without_descriptions|length }}</h3>
                <ul>
                {% for name, slug in datasets_without_descriptions %}
                    <li><a href="#dataset/{{ slug }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="span6">
                <h3>Without categories: {{ datasets_without_categories|length }}</h3>
                <ul>
                    {% for name, slug in datasets_without_categories %}
                    <li><a href="#dataset/{{ slug }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <h2>Disk usage</h2>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Disk</th>
                            <th>Capacity</th>
                            <th>Remaining</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Root</td>
                            <td>{{ root_disk_total|filesizeformat }} ({{ root_disk_percent_used|floatformat:1 }}% used)</td>
                            <td>{{ root_disk_free|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <td>Uploads (and exports)</td>
                            {% if upload_disk_total %}
                            <td>{{ upload_disk_total|filesizeformat }} ({{ upload_disk_percent_used|floatformat:1 }}% used)</td>
                            <td>{{ upload_disk_free|filesizeformat }}</td>
                            {% else %}
                            <td colspan="2">Uploads are currently stored on the root disk.</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Search indices</td>
                            {% if indices_disk_total %}
                            <td>{{ indices_disk_total|filesizeformat }} ({{ indices_disk_percent_used|floatformat:1 }}% used)</td>
                            <td>{{ indices_disk_free|filesizeformat }}</td>
                            {% else %}
                            <td colspan="2">Uploads are currently stored on the root disk.</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
