body { padding-top: 30px; }
#sidebar { width: 240px; }
.topbar { height: 30px; }
.topbar .container { margin-left: 0; }
.topbar div > ul a, .nav a { padding: 5px 5px 6px; }
.container-fluid { padding: 0; }
.alert-message { display: none; }

/* Sidebar */

#logo-link {
    color: #AA4040;
}

#logo-link:hover {
    text-decoration: none;
}

#logo {
    background-color: whiteSmoke;
    height: 68px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 240px;
    display: table-cell;
    vertical-align: middle;
}

/* Search page */

#search, #dataset-search {
    background-color: whiteSmoke;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#search-form, #dataset-search-form { margin-bottom: 0px; }

#search-results, #dataset-search-results { padding-left: 20px; }
#search-pager, #dataset-search-pager { font-size: 1.5em; }

/* Upload page */

#upload { margin: 10px 20px 0 20px; }
#upload-progress { margin-bottom: 10px; }

.step { margin-top: 20px; }
.step h2 { margin-bottom: 5px; }
.step.disabled { color: lightgray; }
.step.disabled h2 { color: lightgray; }

/* List datasets page */

#list-datasets { margin: 10px 20px 0 20px; }

/* Edit dataset page */

#edit-dataset { margin: 10px 20px 0 20px; }
#edit-dataset-form { padding-left: 0px; }

/* Utils */

.progress { position: relative; }

.progress, .progress-value, .progress-text {
    width: 155px; height: 30px;
}

.progress, .progress-value {
    background: #bdbdbd url(/site_media/img/progress.png) top left no-repeat;
}
            
.progress-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}
