body { padding-top: 40px; }
.topbar { height: 40px; }
.topbar h3 { margin-left: 10px; }
/*.topbar div > ul a, .nav a { padding: 5px 5px 6px; }*/
#topbar-email { display: none; }
#topbar-logout { display: none; }
.topbar .menu-dropdown, .topbar .dropdown-menu { top: 40px; min-width: 300px; max-width: 400px; }
.topbar .dropdown-toggle::after { content: none; }
.container-fluid { padding: 0; }
.content { padding: 20px 30px 30px 0; }
.alert-message { display: none; }

.form-stacked { padding-left: 0px; }
.actions.on-top { margin-top: 0px; }

.popover .content ul li { color: black; }

.pager h3 { float: left; margin-right: 8px; }
.pager .pagination { margin: 0 0 8px 0; }

/* Activate */

#activate h1 {
    font-size: 44px;
    color: #AA4040;
}

/* Login */

#login h1 {
    font-size: 44px;
    color: #AA4040;
    margin-left: 150px;
}

/* Sidebar */

#sidebar-menu {
    margin: 20px 0 20px 20px;
    padding: 10px;
    background-color: whiteSmoke;
    border: 1px solid lightgray;
}

#sidebar-menu ul {
    list-style: none;
    font-size: 18px;
    margin: 0 0 20px 0;
}

#sidebar-menu li {
    margin-bottom: 7px;
}

#categories-list .category {
    list-style: disc inside;
}

#sidebar-menu .add-category {
    font-size: smaller;
}

/* News page */

#recent-datasets {
    margin-left: 0px;
}

#recent-datasets h3 {
    line-height: 1.3em;
}

/* Search page */

#search-results {
}

.pager p { font-size: 1.5em; }

/* Datasets search page */

#datasets-results table {
    margin-top: 5px;
}

#datasets-results th {  
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
}

#datasets-results th.no-sort-header {
    background-image: url(/site_media/img/no-sort.gif);   
} 

#datasets-results th.sort-desc-header {
    background-image: url(/site_media/img/desc.gif);     
} 

#datasets-results th.sort-asc-header {
    background-image: url(/site_media/img/asc.gif);     
} 

.modal .sample-data {
    max-height: 300px;
    overflow: scroll;
}

/* Dataset view page */
#dataset-search-results .actions .danger { float: right; }

/* Edit page */

#edit-dataset .actions .danger { float: right; }
#related-upload-progress { display: none; }

/* Upload page */

#upload-progress { margin-bottom: 10px; }

.step { margin-top: 20px; }
.step h2 { margin-bottom: 5px; }
.step.disabled { color: lightgray; }
.step.disabled h2 { color: lightgray; }

#step-2 .notes h4:first-child { margin-top: -8px; }

/* Utils */

.progress { position: relative; }

.progress, .progress-value, .progress-text {
    width: 155px; height: 30px;
}

.progress, .progress-value {
    background: #bdbdbd url(/site_media/img/progress.png) top left no-repeat;
}
            
.progress-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}
