body { padding-top: 40px; }
#sidebar { width: 240px; }
.topbar { height: 30px; }
.topbar .container { margin-left: 0; }
.topbar div > ul a, .nav a { padding: 5px 5px 6px; }
#topbar-email { display: none; }
#topbar-logout { display: none; }
.topbar .menu-dropdown, .topbar .dropdown-menu { top: 30px; }
.topbar .dropdown-toggle::after { content: none; }
.container-fluid { padding: 0; }
.content { padding: 30px; }
.alert-message { display: none; }

/* Dataset block */

.btn.inline {
    padding: 3px 7px;
    font-size: 11px;
    position: relative;
    top: -3px;
    margin-left: 5px;
}

/* Sidebar */

#sidebar-menu {
    margin-top: 10px;
    margin-left: 10px; 
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: whiteSmoke;
    border: 1px solid lightgray;
}

#sidebar-menu .header {
    padding-bottom: 20px;
    text-align: center;
    width: 220px;
    display: table-cell;
    font-weight: bold;
}

#sidebar-menu .header h1 {
    font-size: 44px;
    margin-bottom: 5px;
}

#sidebar-menu .header h1 a {
    color: #AA4040;
}

#sidebar-menu .header h1 a:hover {
    text-decoration: none;
}

#sidebar-menu ul {
    list-style: none;
    font-size: 18px;
}

#sidebar-menu li {
    margin-bottom: 7px;
}

/* News page */

#recent-datasets {
    border: 1px solid whiteSmoke;
    padding: 10px;
}

#news {
    border: 1px solid whiteSmoke;
    padding: 10px;
}

/* Search page */

#search-results {
}

.pager p { font-size: 1.5em; }

/* Upload page */

#upload-progress { margin-bottom: 10px; }

.step { margin-top: 20px; }
.step h2 { margin-bottom: 5px; }
.step.disabled { color: lightgray; }
.step.disabled h2 { color: lightgray; }

/* List datasets page */

/* Edit dataset page */

#edit-dataset-form { padding-left: 0px; }

/* Utils */

.progress { position: relative; }

.progress, .progress-value, .progress-text {
    width: 155px; height: 30px;
}

.progress, .progress-value {
    background: #bdbdbd url(/site_media/img/progress.png) top left no-repeat;
}
            
.progress-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}
