body { padding-top: 40px; }
h3 { font-weight: normal; padding-bottom: 4px; }

.navbar .container-fluid { padding-left: 0; }
#logo a { padding: 0; margin-top: 4px; margin-left: 10px; }
#loading-indicator { width: 32px; }
#loading-indicator img { display: none; position: relative; top: 2px; }
#navbar-admin { display: none; }
.navbar .menu-dropdown, .navbar .dropdown-menu { min-width: 300px; max-width: 400px; }

#content { padding: 20px; }

.alert { display: none; }
.popover .content ul li { color: black; }
.pager h3 { float: left; margin-right: 8px; display: block; float: left; }
.pager .pagination { margin: 0 0 8px 0; float: left; }
.pager .pagination a { padding: 0 14px; }

/* Activate */

#activate h1 {
    font-size: 44px;
    color: #AA4040;
}

/* Login */

#login {
    margin-top: 100px;
}

#login .welcome {
    margin-left: 150px;
    margin-bottom: 25px;
}

/* Sidebar */

#sidebar {
    display: none;
}

#sidebar-menu {
    margin: 20px 0 20px 20px;
    padding: 10px;
    background-color: whiteSmoke;
    border: 1px solid lightgray;
}

#sidebar-menu ul {
    list-style: none;
    font-size: 18px;
    margin: 0 0 20px 0;
}

#sidebar-menu li {
    margin-bottom: 7px;
}

#categories-list .category {
    list-style: disc inside;
}

#sidebar-menu .add-category {
    font-size: smaller;
}

/* News page */

#recent-datasets {
    margin-left: 0px;
}

#recent-datasets h3 {
    line-height: 1.3em;
}

/* Search page */

#search-results {
}

.pager p { font-size: 1.5em; }

/* Datasets search page */

#datasets-results table {
    margin-top: 5px;
}

#datasets-results th {  
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
}

#datasets-results th.no-sort-header {
    background-image: url(/site_media/img/no-sort.gif);   
} 

#datasets-results th.sort-desc-header {
    background-image: url(/site_media/img/desc.gif);     
} 

#datasets-results th.sort-asc-header {
    background-image: url(/site_media/img/asc.gif);     
} 

.modal .sample-data {
    max-height: 300px;
    overflow: scroll;
}

/* Dataset view page */

#view-dataset h3 { display: block; float: left; }

#modal-dataset-traceback { width: 960px; margin-left: -450px; margin-right: -450px; }
#modal-dataset-traceback code { white-space: pre-wrap; }

/* Edit page */

#edit-dataset .actions .danger { float: right; }
#related-upload-progress { display: none; }

.actions-dropdown {
	margin: 0;
	padding: 0;
    float:left;
}
.actions-dropdown li {
	list-style: none;
	float: left;
}
.actions-dropdown li a {
	display: block;
	background-color: #404040;
	color: #bfbfbf;
	text-decoration: none;
    width: 100px;
    padding: 3px 8px;
}
.actions-dropdown li ul {
	display: none; 
	background-color: #404040;
}
.actions-dropdown li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}
.actions-dropdown li:hover li {
	float: none;
}
.actions-dropdown li:hover li a {
	background-color: #333;
}
.actions-dropdown li li a:hover {
	background-color: #444;
	color: #fff;
}

/* Upload page */

#upload-progress { margin-bottom: 10px; }

.step { margin-top: 20px; }
.step h2 { margin-bottom: 5px; }
.step.disabled { color: lightgray; }
.step.disabled h2 { color: lightgray; }

#step-2 .notes h4:first-child { margin-top: -8px; }

/* Utils */

.progress { position: relative; }

.progress, .progress-value, .progress-text {
    width: 155px; height: 30px;
}

.progress, .progress-value {
    background: #bdbdbd url(/site_media/img/progress.png) top left no-repeat;
}
            
.progress-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}
