html, body { height: 100%; }
body { padding-top: 40px; background-color: #404040; }

h3 { font-weight: normal; padding-bottom: 4px; }

.navbar { display: none; }
.navbar .container-fluid { padding-left: 0; }
#logo a { padding: 0; margin-top: 4px; margin-left: 10px; }
#loading-indicator { width: 32px; }
#loading-indicator img { display: none; position: relative; top: 2px; }
#navbar-admin { display: none; }
.navbar .menu-dropdown, .navbar .dropdown-menu { min-width: 300px; max-width: 400px; }

#content { padding: 20px; }

.alert { display: none; }
.popover .content ul li { color: black; }
.pager p { font-size: 1.5em; }
.pager h3 { float: left; margin-right: 8px; display: block; float: left; }
.pager .pagination { margin: 0 0 8px 0; float: left; }
.pager .pagination a { padding: 0 14px; }

/* Activate */

#activate h1 {
    font-size: 44px;
    color: #AA4040;
}

/* Login */

#login {
    margin-top: 150px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
}

#login, #login h2, #login label { color: #fff; }

#login h2 {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

/* News page */

#recent-datasets h3 { line-height: 1.3em; }

/* Search results */

#search-results { margin: 0 20px; }

/* Datasets search page */

#datasets-search-results { margin: 0 20px; }
#datasets-results table { margin-top: 5px; }

#datasets-results th {  
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
}

#datasets-results th.no-sort-header {
    background-image: url(/site_media/img/no-sort.gif);   
} 

#datasets-results th.sort-desc-header {
    background-image: url(/site_media/img/desc.gif);     
} 

#datasets-results th.sort-asc-header {
    background-image: url(/site_media/img/asc.gif);     
} 

#datasets-results .column-names {
    line-height: 2.5em;
    font-size: 0.85em;
}

#datasets-results .column-name {
    padding: 3px 4px;
    background-color: #F7F7F9;
    border: 1px solid #DADADE;
    white-space: nowrap;
}

#modal-dataset-traceback { width: 960px; margin-left: -450px; margin-right: -450px; }
#modal-dataset-traceback code { white-space: pre-wrap; }

/* Dataset search results */

#dataset-search-results { margin: 0 20px; }

/* Dataset view page */

#view-dataset h3 { display: block; float: left; }
#view-dataset #dataset-actions { float: left; } 

/* Upload page */

.step { margin-top: 20px; }
.step h2 { margin-bottom: 5px; }
.step.disabled { color: lightgray; }
.step.disabled h2 { color: lightgray; }

.upload-progress { margin-bottom: 10px; position: relative; }

.upload-progress, .progress-value, .progress-text {
    width: 155px; height: 30px;
}

.upload-progress {
    background: #bdbdbd url(/site_media/img/progress.png) top left no-repeat;
}

.upload-progress .progress-value {
    background: #57A957 url(/site_media/img/progress.png) top left no-repeat;
    width: 0%;
}

.upload-progress .progress-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #fff;
    text-align: center;
    width: 100%;
}

