<li><strong><a href="/api/1.0/related_upload/<%= id %>/download/"><%= original_filename %></a></strong> (<strong><%= size %> bytes</strong>) uploaded on <%= moment(creation_date, "YYYY-MM-DDTHH:mm:ss").toLocalTimezone().format("MMMM D, YYYY @ h:mm a") %></li>
