<li>
    <strong><a href="/api/1.0/data_upload/<%= upload.id %>/download/"><%= upload.original_filename %></a></strong>
    uploaded by <%= PANDA.templates.inline_user(upload.creator) %>

    <a data-original-title="<%= upload.size %> bytes<br />Uploaded <%= moment(upload.creation_date, "YYYY-MM-DDTHH:mm:ss").toLocalTimezone().format("MMMM D, YYYY @ h:mm a") %>" data-placement="top" href="javascript: return false;" rel="tooltip"><i class="icon-info-sign"></i></a>
</li>

