<a data-content="<ul><li>Use an asterisk to match part of a word: <strong>chris*</strong> will match &quot;Chris&quot;, &quot;Christian&quot; or &quot;Christopher&quot;.</li><li>Put phrases in quotes: <strong>&quot;Chicago Bears&quot;</strong> will not match &quot;Chicago Panda Bears&quot;.</li><li>Use AND and OR to find combinations of terms: <strong>homicide AND first</strong> will match &quot;first degree homicide&quot; or &quot;homicide, first degree&quot;, but not just &quot;homicide&quot;.</li><li>Group words with parantheses: <strong>homicide AND (first OR 1st)</strong> will match &quot;1st degree homicide&quot;, &quot;first degree homicide&quot;, or &quot;homicide, first degree&quot;.</li></ul>" data-original-title="Advanced searching" data-offset="10" data-html="true" data-placement="below" href="javascript: return false;" rel="popover">Advanced</a>
