<div id="recent-datasets" class="span8">
    <h3>Recently added datasets</h3>
    <% _.each(recent_datasets.datasets, function(d) { %>
        <strong><%= d.name %></strong>
    <% }); %>
</div>

<div id="news" class="span6">
    <h3>PANDA News</h3> 
    <p>How to use goes here. TKTK.</p>
</div>
