<div id="recent-datasets" class="span8">
    <h2>Recently added datasets</h2>
    <% _.each(recent.datasets, function(dataset) { %>
        <h3><%= dataset.name %> <a href="#dataset/<%= dataset.id %>" class="btn inline">Edit</a> <a href="#dataset/<%= dataset.id %>/search/" class="btn inline">Search</a></h3>
        <p><em><%= dataset.description %></em></p>
    <% }); %>
</div>

<div id="news" class="span6">
    <h2>PANDA News</h2> 
    <p>How to use goes here. TKTK.</p>
</div>
