<div id="search">
    <form id="search-form">
        <input id="search-query" type="text" name="query" class="xxlarge" value="<%= query %>" />
        <input type="submit" id="search-submit" class="btn primary" value="Search" />
    </form>
</div>

<div id="search-results">
</div>
