html, body { height: 100%; }
body { padding-top: 40px; background-color: #404040; }

h3 { font-weight: normal; padding-bottom: 4px; }

.navbar { display: none; }
.navbar .container-fluid { padding-left: 0; }
#logo a { padding: 0; margin-top: 4px; margin-left: 10px; }
#loading-indicator { width: 32px; }
#loading-indicator img { display: none; position: relative; top: -1px; }
#navbar-admin { display: none; }

.navbar .menu-dropdown, .navbar .dropdown-menu {
    width: 400px;
    right: -6px !important;
}

.navbar .dropdown-menu ul {
    margin-left: 0px;
    max-height: 400px;
    overflow-y: auto;
}

#navbar-notifications .dropdown-menu ul li {
    white-space: normal;
    padding-bottom: 3px;
    padding-top: 3px;
    overflow-x: hidden;
    border-top: 1px solid #efefef;
}

#navbar-notifications .dropdown-menu ul li.unread {
    background-color: #edf5f9;
    border-top: 1px solid #ccc;
}

#navbar-notifications .dropdown-menu ul li.unread:hover {
    background-color: #0088cc;
    border-top: 1px solid #ccc;
}

#navbar-notifications .divider {
    margin: 3px 1px;
}

#content { padding: 20px; }

.alert { display: none; }
.popover .content ul li { color: black; }
.pager { margin-bottom: 8px; }
.pager p { font-size: 1.5em; }
.pager h3 { float: left; margin-right: 8px; display: block; float: left; }
.pager .pagination { margin: 0 0 8px 0; float: left; }
.pager .pagination a { padding: 0 14px; }

.since-warning { margin-top: 20px; }

/*.modal-body {overflow-y: auto; max-height: auto; padding: 15px;}
.modal {max-height: 400px;}*/

/* Activate */

#activate {
    margin-top: 75px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
}

#activate, #activate h2, #activate label { color: #fff; }

#activate h2 {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

/* Reset password */

#reset {
    margin-top: 75px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
}

#reset, #reset h2, #reset label { color: #fff; }

#reset h2 {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

/* Login */

#login {
    margin-top: 150px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
}

#login.demo {
    width: 650px;
}

#login, #login h2, #login label { color: #fff; }

#login h2 {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    margin-top: 5px;
}

#login form {
    float: left;
}

#login #welcome {
    color: #333;
    float: left;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    width: 400px;
    background-color: #fff;
    padding: 18px;
    border: 4px solid #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 20px;
}
#login #welcome h2 {
    margin: 0 0 10px 0;
    color: #333;
}
#login #welcome img {
    float: right;
    padding: 0 6px;
}
#login #welcome p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
}

/* Search */

#search-form .btn { margin-bottom: 9px; }

/* News page */

#recent-datasets h3 { line-height: 1.3em; }

/* Search results */

#search-results { margin: 0 20px; }
#search-results .dataset { margin-bottom: 20px; }

/* Datasets search page */

#datasets-search-form .btn { margin-bottom: 9px; }
#datasets-search-results { margin: 0 20px; }
#datasets-results table { margin-top: 5px; }

#datasets-results th {  
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
}

#datasets-results th.no-sort-header {
    background-image: url(/site_media/img/no-sort.gif);   
} 

#datasets-results th.sort-desc-header {
    background-image: url(/site_media/img/desc.gif);     
} 

#datasets-results th.sort-asc-header {
    background-image: url(/site_media/img/asc.gif);     
} 

#datasets-results .column-names {
    line-height: 2.5em;
    font-size: 0.85em;
}

#datasets-results .column-name {
    padding: 3px 4px;
    background-color: #F7F7F9;
    border: 1px solid #DADADE;
    white-space: nowrap;
}

#modal-dataset-traceback { width: 960px; margin-left: -450px; margin-right: -450px; }
#modal-dataset-traceback code { white-space: pre-wrap; line-height: 2.0em; }

/* Dataset search */

#dataset-search .dataset-search-query { width: 100%; }
#dataset-search .dataset-search-submit { width: 100%; }
#dataset-search h4 { margin-bottom: 6px; }
#dataset-search .search-help { display: none; }

#dataset-search .search-help .arrow {
    float:left;
    margin-top: 31px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #c2daec;
}

#dataset-search .search-help .wrapper { 
    background-color: #DCEAF4;
    border: 2px solid #c2daec;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 15px;
}

#dataset-search .search-help-box .contents{
    padding: 8px;
}

#dataset-search-filters { display: none; margin-top: 16px; }
#dataset-search-filters table tbody { border:0; }
#dataset-search-filters table td { vertical-align:baseline; border:0; }
#dataset-search-filters table td.remove-cell { width:50px; }
#dataset-search-filters table td.name-cell { width:100px; text-align:right; }
#dataset-search-filters table td.operator-cell { width:10%; }
#dataset-search-filters table td.range { font-size: 0.9em; color: #999; vertical-align:bottom; padding-bottom:0px; }
#dataset-search-filters table td.widget-cell { width:35%; }
#dataset-search-filters table input { margin-bottom: 0; }
#dataset-search-filters table select { margin-bottom: 0; }
#dataset-search .filter { display: none; }
#dataset-search .filter .help-wrapper { display:none; margin-top: 8px; }
#dataset-search .filter .help-inline { color:#b94a48; margin-bottom: 0; }

/* Dataset search results */

#dataset-search-results { margin: 0 20px; }

/* Dataset view page */

#view-dataset h3 { display: block; float: left; }
#view-dataset h6 { margin-top: 10px; margin-bottom: 3px; }
#view-dataset .description { word-wrap: break-word; }
#view-dataset #dataset-actions { float: left; } 
#view-dataset #dataset-actions a.disabled { color: #aaa; cursor: default; } 
#view-dataset p.disabled { color: #aaa; } 
#view-dataset .sample-data { margin-top: 5px; margin-bottom: 10px; }
#view-dataset .data-uploads .download { font-weight: bold; }
#view-dataset .related-uploads .download { font-weight: bold; }
#modal-upload-related .progress-bar { display: none; }
#modal-index-types table { width: 100%; }
#modal-index-types table td { padding: 2px 2px 2px 8px; vertical-align: middle;}
#modal-index-types select { margin-top: 8px; }
#modal-related-links input { width: 150px; }
#modal-related-links .remove-row { white-space: nowrap; }

/* Upload page */

#upload .alert { margin-top: 8px; }

#upload h3 { line-height: 20px; margin-bottom: 20px;}

#upload .notes h4 { margin: 5px 0; } 

#upload .toggle-csv-options { display: block; }
#upload .csv-options { display: none; padding-bottom: 5px; }
#upload .csv-options h5 { margin-bottom: 5px; }

#upload .step { margin-top: 20px; }
#upload .step h3 { font-weight: bold; }

#upload #upload-progress { margin-bottom: 10px; }

.progress-bar {
    background-color: #f5f5f5;
    padding: 5px;
    width: 350px;
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #eee inset;
    -webkit-box-shadow: 0 1px 5px #eee inset;
    box-shadow: 0 1px 5px #eee inset;
}

.progress-bar .progress-value {
    width: 0%; /* to be animated */
    color: #f5f5f5;
    font-size: 13px;
    padding: 3px 0 4px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background-color: #a7362d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -ms-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(top, #62c462, #51a351);
}

.ie-progress { display: none; }

#step-3 .sample-data { overflow-x: scroll; margin-bottom: 18px; }
#step-3 .sample-data table { margin-bottom: 0px; }
#step-3 .sample-data tr {
    background-color: #fff;
}

/* Dashboard */

#dashboard h2 { margin-top: 15px; }
#dashboard h2:first-child { margin-top: 0px; }

#dashboard .chart { margin: 15px 0 20px; }

/* User */

#subscriptions { list-style-type: none; margin-left: 0px; }
#subscriptions li { line-height: 24px; margin-bottom: 12px; }
code.full-text { }
code.column { color: #333 }
code.value { }

