{% load compress %}

<html>
<head>
    <title>PANDA</title>
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fileuploader.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/panda.css" type="text/css" charset="utf-8"/>
    {% endcompress %}
</head>
<body>
    <div class="container-fluid">
        <div class="sidebar">
            Sidebar here.
        </div>
        <div class="content">
        </div>
    </div>

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone-tastypie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fileuploader.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/datasets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/data.js"></script>
    {% endcompress %}

    <script type="text/javascript" src="templates.js"></script>

    <script type="text/javascript">
        $(function() {
            $(".content").html(JST.search());
        })
    </script>
</body>
</html>

