<!DOCTYPE html>

{% load compress %}

<html>
<head>
    <title>PANDA</title>
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fileuploader.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/panda.css" type="text/css" charset="utf-8"/>
    {% endcompress %}
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <ul class="nav secondary-nav">
                    <li id="topbar-email"><a href="#"></a></li>
                    <li id="topbar-login"><a href="#login">Login</a></li>
                    <li id="topbar-register"><a href="#register">Register</a></li>
                    <li id="topbar-notifications" class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">Notifications <span class="count label important">2</span></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <li id="topbar-logout"><a href="#logout">Logout</a></li>
                </ul>
            </div>
        </div>
   </div>

    <div class="container-fluid">
        <div id="sidebar" class="sidebar">
            <div id="sidebar-menu" class="span4">
                <div class="header">
                    <h1><a href="#">PANDA</a></h1>
                    A Newsroom Data Appliance
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Search</a></li>
                        <li><a href="#upload">Upload</a></li>
                    </ul>

                    <ul id="categories-list">
                        <li><a href="#datasets">All datasets</a></li>
                        {% for category in categories %}
                        <li><a href="#category/{{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="content" class="content">
        </div>
    </div>

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone-tastypie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/moment.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fileuploader.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
    {% endcompress %}
    
    <script type="text/javascript" src="templates.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/notifications.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/users.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/uploads.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/tasks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/categories.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/datasets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/data.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/not_found.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/server_error.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/register.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/news.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/list_datasets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/dataset_view.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/dataset_edit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/dataset_search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/dataset_results.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/search_results.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/upload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/routers/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/root.js"></script>
    {% endcompress %}

    <script type="text/javascript">
        $(function() {
            PANDA.bootstrap = {{ bootstrap_data|safe }}; 

            window.Redd = new PANDA.views.Root();
            Redd.start_routing();
        })
    </script>
</body>
</html>

