{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
<div id="search">
    <form id="search-form">
        <input id="search-query" type="text" name="query" value="Education" />
        <input type="submit" id="search-submit" value="Search" />
    </form>
</div>
<div id="results">
</div>

<script type="text/template" id="results-template"> 
    <%= offset %> through <%= limit %> of <%= total_count %><br />
    <% _.each(rows, function(row) { %>
        <% _.each(row.csv_data, function(d) { %>
            <%= d %>
        <% }); %><br />
    <% }); %>
    <% if (previous) { %>
        <a href="#" class="prev">previous</a>
    <% } else { %>
        <span>previous</span>
    <% } %>

    <% if (next) { %>
        <a href="#" class="next">next</a>
    <% } else { %>
        <span>next</span>
    <% } %>
</script>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/backbone-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/backbone-tastypie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/redd.js"></script>
<script type="text/javascript">
$(function() {
    SearchResultsView = Backbone.View.extend({
        el: $("#results"),
        
        template: _.template($('#results-template').html()),

        events: {
            'click a.prev': 'previous',
            'click a.next': 'next'
        },

        initialize: function() {
            _.bindAll(this, 'render');
            this.collection.bind('reset', this.render);
        },

        render: function() {
            this.el.html(this.template(this.collection.results()));
        },

        previous: function() {
            this.collection.previous_page();
            return false;
        },

        next: function() {
            this.collection.next_page();
            return false;
        }
        });

    window.SearchResults = new SearchResultsView({ collection: Data });

    $("#search-form").submit(function() {
        Data.search($("#search-form #search-query").val(), 10, 0);

        return false;
    }); 
})
</script>
{% endblock %}
