<h1>Now configuring your PANDA...</h1>

<p>Please enjoy some Rush while your PANDA is configured</p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/KNZru4JG_Uo" frameborder="0" allowfullscreen></iframe>

<a href="javascript:location.reload(true)">Refresh this page</a>

<script type="text/javascript" src="static/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    var timer_id = null;

    window.check_finished = function() {
        console.log("Checking"); 
    }

    timer_id = setTimeout(check_finished, 2500);
</script>
